* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
}

body {
  background-color: $color-white;
  color: $color-black;
  font-family: TelegrafRegular;
  font-size: 16px;
}

html,
body,
#root {
  @include full-size;
}

#root {
  background: $color-dark;
  @include flex-column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: TelegrafBold;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: $color-black;
  font-size: 16px;
  &:hover {
    text-decoration: none;
  }
}

ol,
ul {
  list-style-type: none;
}

img {
  width: 100%;
}

p {
  font-size: 16px;
  color: $color-black;
}

input {
  font-family: TelegrafRegular;
  border: 0;
}

.container {
  padding: 0 85px;
  margin: 0 auto;
  @include media-max(700px) {
    padding: 0 24px;
  }
}
