// Telegraf
@font-face {
  font-family: TelegrafLight;
  src: url(../../fonts/telegraf/TelegrafUltraLight.otf);
}

@font-face {
  font-family: TelegrafRegular;
  src: url(../../fonts/telegraf/TelegrafRegular.otf);
}

@font-face {
  font-family: TelegrafBold;
  src: url(../../fonts/telegraf/TelegrafUltraBold.otf);
}

// Canela
@font-face {
  font-family: CanelaLight;
  src: url(../../fonts/canela/canela_light.otf);
}

@font-face {
  font-family: CanelaRegular;
  src: url(../../fonts/canela/canela_roman.otf);
}

@font-face {
  font-family: CanelaBold;
  src: url(../../fonts/canela/canela_bold.otf);
}